.tabs {
  display: flex;
  gap: 96px;

  @media (max-width: 1200px) {
    gap: 36px;
  }

  @media (max-width: 992px) {
    gap: 16px;
  }

  @media (max-width: 576px) {
    gap: 24px;
    flex-direction: column;
  }

  .left_tabs {
    position: relative;

    @media (max-width: 576px) {
      display: block;
      white-space: nowrap;
      overflow-x: auto;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 2px;
      background: #F6F9FC;
    }
  }

  .tab_item {
    padding-left: 40px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      left: 0;
      top: 0;
      bottom: 0;
      width: 2px;
      opacity: 0;
      position: absolute;
      background: #635BFF;
      transition: all .3s var(--ani-func);
      transform: translateY(-100%);

      @media (max-width: 576px) {
        right: 0;
        width: auto;
        height: 2px;
        bottom: 0;
        top: initial;
        transform: translateX(-100%);
      }
    }

    &+.tab_item {
      margin-top: 60px;

      @media (max-width: 992px) {
        margin-top: 24px
      }

      @media (max-width: 576px) {
        margin-top: 0;
        margin-left: 16px;
      }
    }

    @media (max-width: 992px) {
      width: 150px;
      padding-left: 16px;
    }

    @media (max-width: 576px) {
      width: auto;
      display: inline-block;
      padding-left: 0;
      padding-bottom: 16px;
    }

    &.active {
      &::before {
        opacity: 1;
        transform: translateY(0);
      }

      .tab_title {
        color: #8E78FF;
      }
    }
  }

  .tab_title {
    font-size: 24px;
    font-weight: 500;
    color: var(--theme-color);
    margin-bottom: 12px;
    line-height: 1;

    @media (max-width: 992px) {
      font-size: 16px;
    }

    @media (max-width: 576px) {
      white-space: nowrap;
      font-size: 14px;
      margin-bottom: 0;
    }
  }

  .tab_desc {
    font-weight: 400;
    font-size: 16px;
    color: #4B4B4B;
    line-height: 1.5;

    @media (max-width: 992px) {
      font-size: 12px;
    }

    @media (max-width: 576px) {
      display: none;
    }
  }

  .tab_panes {
    flex: 1;
    position: relative;
  }

  .tab_pane_item {
    height: 100%;
    width: 100%;
  }
}