@import '@/styles/responsive.scss';

.tabs {
  display: flex;
  gap: 96px;

  @include respond-down('xl') {
    gap: 36px;
  }

  @include respond-down('lg') {
    gap: 16px;
  }

  @include respond-down('sm') {
    gap: 24px;
    flex-direction: column;
  }

  .left_tabs_wrapper {
    position: relative;

    @include respond-down('sm') {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 30px;
        z-index: 1;
        background: linear-gradient(to left, #fff, rgba(255, 255, 255, .4));
      }
    }
  }

  .left_tabs {
    z-index: 0;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 2px;
      background: #F6F9FC;
    }

    @include respond-down('sm') {
      display: block;
      white-space: nowrap;
      overflow-x: auto;
      text-align: center;
      padding: 0 30px 0 16px;

      &::-webkit-scrollbar {
        display: none;
      }

      -ms-overflow-style: none;
      scrollbar-width: none;

      &::before {
        display: none;
      }
    }
  }

  .tab_item {
    padding-left: 40px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      left: 0;
      top: 0;
      bottom: 0;
      width: 2px;
      opacity: 0;
      position: absolute;
      background: #635BFF;
      transition: all .3s var(--ani-func);
      transform: translateY(-100%);

      @include respond-down('sm') {
        right: 0;
        width: auto;
        height: 2px;
        bottom: 0;
        top: initial;
        transform: translateX(-100%);
      }
    }

    &+.tab_item {
      margin-top: 60px;

      @include respond-down('lg') {
        margin-top: 24px
      }

      @include respond-down('sm') {
        margin-top: 0;
        margin-left: 20px;
      }
    }

    @include respond-down('lg') {
      width: 150px;
      padding-left: 16px;
    }

    @include respond-down('sm') {
      width: auto;
      display: inline-block;
      padding: 12px 0;
    }

    &.active {
      &::before {
        opacity: 1;
        transform: translateY(0);
      }

      .tab_title {
        color: #8E78FF;
      }
    }
  }

  .tab_title {
    font-size: 24px;
    font-weight: 500;
    color: var(--theme-color);
    margin-bottom: 12px;
    line-height: 1;

    @include respond-down('lg') {
      font-size: 16px;
    }

    @include respond-down('sm') {
      white-space: nowrap;
      font-size: 14px;
      margin-bottom: 0;
    }
  }

  .tab_desc {
    font-weight: 400;
    font-size: 16px;
    color: #4B4B4B;
    line-height: 1.5;

    @include respond-down('lg') {
      font-size: 12px;
    }

    @include respond-down('sm') {
      display: none;
    }
  }

  .tab_panes {
    flex: 1;
    position: relative;
  }

  .tab_pane_item {
    height: 100%;
    width: 100%;

    @include respond-down('sm') {
      padding: 0 16px;
    }
  }
}