.tabs {
  display: flex;
  gap: 96px;

  .left_tabs {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 2px;
      background: #F6F9FC;
    }
  }

  .tab_item {
    padding-left: 40px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      left: 0;
      top: 0;
      bottom: 0;
      width: 2px;
      opacity: 0;
      position: absolute;
      background: #635BFF;
      transition: all .3s var(--ani-func);
      transform: translateY(-100%);
    }

    &+.tab_item {
      margin-top: 60px;
    }

    &.active {
      &::before {
        opacity: 1;
        transform: translateY(0);
      }

      .tab_title {
        color: #8E78FF;
      }
    }
  }

  .tab_title {
    font-size: 24px;
    font-weight: 500;
    color: var(--theme-color);
    margin-bottom: 12px;
    line-height: 1;
  }

  .tab_desc {
    font-weight: 400;
    font-size: 16px;
    color: #4B4B4B;
    line-height: 1;
  }

  .tab_panes {
    flex: 1;
    position: relative;
  }

  .tab_pane_item {
    height: 100%;
    width: 100%;
  }
}