@import '@/styles/responsive.scss';

.container {
  position: relative;

  &::after {
    content: "";
    height: 462px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    position: absolute;
    z-index: 0;
  }

  @include respond-down('sm') {
    padding: 48px 0;

    &::after {
      height: 280px;
    }
  }
}

.content {
  position: relative;
  z-index: 1;

  .title {
    color: #fff;
    text-align: center;
  }

  .sub_title {
    line-height: 2;
    text-align: center;
    color: var(--link-color);
  }
}