@import '@/styles/responsive.scss';

.container {
  padding: 100px 0 140px 0;
  position: relative;

  &::after {
    content: "";
    height: 462px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    position: absolute;
    z-index: 0;
  }

  @include respond-down('md') {
    padding: 60px 0;
  }

  @include respond-down('sm') {
    padding: 48px 0;

    &::after {
      height: 280px;
    }
  }
}

.content {
  margin: auto;
  width: var(--content-width);
  position: relative;
  z-index: 1;

  @include respond-down('xl') {
    padding: 0 36px;
    width: 100%;
  }

  @include respond-down('sm') {
    padding: 0 16px;
  }
}

.title {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
  line-height: 1;
  text-align: center;
  margin-bottom: 40px;

  @include respond-down('lg') {
    font-size: 36px;
  }

  @include respond-down('sm') {
    font-size: 24px;
  }
}

.desc {
  line-height: 2;
  font-size: 24px;
  text-align: center;
  color: var(--link-color);

  @include respond-down('lg') {
    font-size: 20px;
  }

  @include respond-down('sm') {
    font-size: 16px;
  }
}