@import '@/styles/responsive.scss';

.container {
  background: #fff;
  padding: 140px 0 160px 0;

  .title {
    color: var(--theme-color);
    text-align: center;
  }

  @include respond-down('md') {
    padding: 60px 0;
  }

  @include respond-down('sm') {
    padding: 48px 0;
  }
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;

  .item {
    width: calc(50% - 40px);
  }

  @include respond-down('xl') {
    gap: 40px;

    .item {
      width: calc(50% - 20px);
    }
  }

  @include respond-down('md') {
    gap: 36px;
    flex-direction: column;

    .item {
      width: 100%;
    }
  }
}