.container {
  height: 100%;
  border-radius: 24px;
  padding: 40px 60px;
  background: #fff;
  box-shadow: 0px 8px 20px 4px #0000000F;

  .icon {
    width: 80px;
    height: 80px;
    display: block;
    margin-bottom: 12px;
  }

  .title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
    color: var(--theme-color);
    margin-bottom: 20px;
  }

  .desc {
    font-size: 16px;
    line-height: 22px;
    color: #4B4B4B;
  }
}