@import '@/styles/responsive.scss';

.container {
  background: #fff;
  padding: 140px 0;

  @include respond-down('lg') {
    padding: 70px 0;
  }
}

.content {
  margin: auto;
  width: var(--content-width);

  @include respond-down('xl') {
    width: 100%;
    padding: 0 36px;
  }

  @include respond-down('sm') {
    padding: 0 16px;
  }
}

.title {
  font-size: 48px;
  font-weight: 600;
  color: var(--theme-color);
  line-height: 1;
  text-align: center;
  margin-bottom: 80px;

  @include respond-down('md') {
    font-size: 30px;
    margin-bottom: 48px;
  }

  @include respond-down('sm') {
    font-size: 24px;
  }
}