.btn {
  height: 76px;
  border-radius: 12px;
  font-size: 28px;
  padding: 0 32px;
  border: none;
  cursor: pointer;

  &.bulue {
    color: #0A2540;
    background: #00D4FF;
  }

  &.purple {
    color: #fff;
    background: #8E78FF;
  }
}