.center {
  padding: 140px 0;
  background: #fff;
}

.center_content {
  width: var(--content-width);
  margin: auto;
}

.center_title {
  font-family: Inter;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  font-size: 48px;
  color: #0A2540;

}