 @media (max-width: 686px) {
   :root {
     --header-height: 68px !important;
   }
 }


 .base_layout {
   display: block;
   height: 100vh;
 }

 .layout_content {
   height: 100%;
   overflow: hidden;

   .scroller {
     &>div:first-child {
       overflow: hidden auto !important;
     }
   }
 }

 .base_header {
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   z-index: 99;
   height: var(--header-height);
   transition: all .5s var(--ani-func);

   &.transparent {
     background: rgb(255, 255, 255, 0);
   }

   &.white {
     background: rgb(255, 255, 255, 1);
     box-shadow: 2px 2px 5px rgb(0, 0, 0, .1);

     .band {

       .logo,
       .app_name {
         color: var(--theme-color);
       }
     }
   }
 }

 .base_header_content {
   height: 100%;
   width: var(--content-width);
   margin: auto;
   display: flex;
   align-items: center;
   padding: 0 16px;

   @media (max-width: 1200px) {
     width: 100%;
   }

   .band {
     height: 100%;
     display: flex;
     align-items: center;
     text-decoration: none;
     gap: 4px;

     .logo {
       color: #fff;
       font-size: 44px;

       @media (max-width: 636px) {
         font-size: 40px;
       }
     }

     .app_name {
       font-weight: 600;
       color: #fff;
       font-size: 32px;
     }

     @media (max-width: 860px) {
       .app_name {
         display: none;
       }
     }

     @media (max-width: 686px) {
       .app_name {
         font-size: 20px;
         display: block;
       }
     }
   }
 }

 .scroll_content.safe_area {
   &::before {
     content: "";
     display: block;
     height: var(--header-height);
   }
 }