@import '@/styles/responsive.scss';

@include respond-down('lg') {
  :root {
    --header-height: 68px !important;
  }
}

@include respond-down('sm') {
  :root {
    --header-height: 56px !important;
  }
}

.base_layout {
  display: block;
  height: 100vh;
}

.layout_content {
  height: 100%;
  overflow: hidden;

  .scroller {
    &>div:first-child {
      overflow: hidden auto !important;
    }
  }
}

.base_header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  height: var(--header-height);
  transition: all .5s var(--ani-func);

  &.transparent {
    background: rgb(255, 255, 255, 0);
  }

  &.white {
    background: rgb(255, 255, 255, 1);
    box-shadow: 2px 2px 5px rgb(0, 0, 0, .1);

    .band {

      .logo,
      .app_name {
        color: var(--theme-color);
      }
    }
  }
}

.base_header_content {
  height: 100%;
  display: flex;
  align-items: center;

  .band {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 4px;

    .logo {
      color: #fff;
      font-size: 44px;

      @include respond-down('lg') {
        font-size: 36px;
      }

      @include respond-down('md') {
        font-size: 32px;
      }

      @include respond-down('sm') {
        font-size: 28px;
      }
    }

    .app_name {
      font-weight: 600;
      color: #fff;
      font-size: 32px;

      @include respond-down('lg') {
        font-size: 20px;
      }

      @include respond-down('md') {
        font-size: 18px;
      }

      @include respond-down('sm') {
        font-size: 16px;
      }
    }
  }
}

.scroll_content.safe_area {
  &::before {
    content: "";
    display: block;
    height: var(--header-height);
  }
}