@import '@/styles/responsive.scss';

.container {
  background: #F6F9FC;
  padding: 100px 0 120px 0;
  display: flex;

  @include respond-down('md') {
    padding: 60px 0;
  }

  @include respond-down('sm') {
    padding: 48px 0;
  }
}

.content {
  margin: auto;
  width: var(--content-width);

  @include respond-down('xl') {
    width: 100%;
    padding: 0 36px;
  }

  @include respond-down('sm') {
    padding: 0 16px;
  }
}

.title {
  font-size: 48px;
  font-weight: 600;
  color: var(--theme-color);
  line-height: 1;
  text-align: center;
  margin-bottom: 48px;

  @include respond-down('md') {
    font-size: 30px;
  }

  @include respond-down('sm') {
    font-size: 24px;
  }
}

.desc {
  font-size: 24px;
  color: #4B4B4B;
  line-height: 2;
  text-align: center;
  margin-bottom: 80px;

  @include respond-down('md') {
    font-size: 20px;
  }

  @include respond-down('sm') {
    font-size: 16px;
    margin-bottom: 48px;
  }
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;

  .item {
    width: calc(50% - 40px);
  }

  @include respond-down('xl') {
    gap: 40px;

    .item {
      width: calc(50% - 20px);
    }
  }

  @include respond-down('md') {
    gap: 36px;
    flex-direction: column;

    .item {
      width: 100%;
    }
  }
}