@import '@/styles/responsive.scss';

.container {
  background: #F6F9FC;

  .title {
    text-align: center;
    color: var(--theme-color);
  }

  .sub_title {
    color: #4B4B4B;
    text-align: center;
  }
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;

  .item {
    width: calc(50% - 40px);
  }

  @include respond-down('xl') {
    gap: 40px;

    .item {
      width: calc(50% - 20px);
    }
  }

  @include respond-down('md') {
    gap: 36px;
    flex-direction: column;

    .item {
      width: 100%;
    }
  }
}