.container {
  background: #F6F9FC;
  padding: 100px 0 120px 0;

  @media (max-width: 576px) {
    padding: 48px 0;
  }
}

.content {
  margin: auto;
  padding: 0 16px;
  width: var(--content-width);

  @media (max-width: 1200px) {
    width: 100%;
  }
}

.title {
  font-size: 48px;
  font-weight: 600;
  color: var(--theme-color);
  line-height: 1;
  text-align: center;
  margin-bottom: 40px;

  @media (max-width: 576px) {
    font-size: 30px;
  }
}

.desc {
  font-size: 24px;
  color: #4B4B4B;
  line-height: 2;
  text-align: center;
  margin-bottom: 80px;

  @media (max-width: 576px) {
    font-size: 16px;
  }
}