.container {
  height: 100%;
  border-radius: 20px;
  box-shadow: 0px 8px 20px 4px #0000000F;
  background: linear-gradient(108.06deg, rgba(220, 217, 255, 0.6) 10.33%, rgba(194, 255, 253, 0.6) 50.13%, rgba(255, 255, 255, 0.6) 89.93%);

  .content {
    height: 100%;
    overflow: hidden;
    position: relative;

    @media (max-width: 576px) {
      padding-top: 24px;
    }

    img {
      position: absolute;
      left: 50%;
      bottom: 0;
      display: block;
      height: calc(100% - 32px);
      transform: translateX(-50%);

      @media (max-width: 576px) {
        width: 100%;
        height: auto;
        left: initial;
        transform: none;
        position: initial;
      }
    }
  }
}