@import '@/styles/responsive.scss';

.container {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;

  @include respond-down('sm') {
    flex-direction: column;
    margin-top: 48px;
    gap: 24px;
  }
}

.item {
  padding-left: 24px;
  position: relative;
  width: calc(50% - 30px);

  @include respond-down('sm') {
    width: 100%;
  }

  &::before {
    content: "";
    width: 2px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #122A47;
  }

}

.icon {
  display: block;
  width: 48px;
  margin-bottom: 20px;
}

.title {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  position: relative;

  @include respond-down('sm') {
    font-size: 16px;
  }

  &::before {
    content: "";
    width: 2px;
    height: 14px;
    position: absolute;
    left: -24px;
    top: 3px;
    background: #8E78FF;
  }
}

.desc {
  font-size: 14px;
  line-height: 22px;
  color: #BEBEBE;
  margin-top: 20px;

  @include respond-down('sm') {
    font-size: 12px;
    margin-top: 12px;
  }
}