@import '@/styles/responsive.scss';

.container {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;

  @include respond-down('lg-m') {
    gap: 40px;
  }

  @include respond-down('sm') {
    flex-direction: column;
    margin-top: 48px;
    gap: 24px;
  }
}

.item {
  padding-left: 24px;
  position: relative;
  flex: 1;

  &::before {
    content: "";
    width: 2px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #122A47;
  }

  @include respond-down('lg-m') {
    flex: none;
    width: calc(50% - 20px);
  }

  @include respond-down('sm') {
    width: 100%;
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 12px;

    &::before {
      display: none;
    }
  }
}

.icon {
  display: block;
  width: 48px;
  margin-bottom: 20px;

  @include respond-down('sm') {
    width: 56px;
    margin-bottom: 16px;
  }
}

.title {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  position: relative;

  &::before {
    content: "";
    width: 2px;
    height: 14px;
    position: absolute;
    left: -24px;
    top: 3px;
    background: #8E78FF;
  }

  @include respond-down('sm') {
    font-size: 16px;
    color: var(--theme-color);

    &::before {
      display: none;
    }
  }

}

.desc {
  font-size: 14px;
  line-height: 22px;
  color: #BEBEBE;
  margin-top: 20px;

  @include respond-down('sm') {
    font-size: 12px;
    margin-top: 12px;
    color: #4b4b4b;
  }
}