

.container {
  margin-top: 80px;

  @media (max-width: 576px) {
    margin-top: 48px;
  }
}

.item {
  padding-left: 24px;
  position: relative;

  &::before {
    content: "";
    width: 2px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #122A47;
  }
}

.icon {
  display: block;
  width: 48px;
  margin-bottom: 20px;
}

.title {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  position: relative;

  &::before {
    content: "";
    width: 2px;
    height: 14px;
    position: absolute;
    left: -24px;
    top: 3px;
    background: #8E78FF;
  }
}

.desc {
  font-size: 14px;
  line-height: 22px;
  color: #BEBEBE;
  margin-top: 20px;
}