.container {
  padding: 100px 0 140px 0;
  position: relative;

  &::after {
    content: "";
    height: 462px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    position: absolute;
    z-index: 0;
  }
}

.content {
  margin: auto;
  width: var(--content-width);
  position: relative;
  z-index: 1;
}

.title {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
  line-height: 1;
  text-align: center;
  margin-bottom: 40px;
}

.desc {
  line-height: 2;
  font-size: 24px;
  text-align: center;
  color: var(--link-color);
}
