@import '@/styles/variables.scss';
@import '@/styles/responsive.scss';

$inner-width: 650px;
$ani-delay: .85s;
$content-height: 662px;

@keyframes RightIn {
  from {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes RightCenterIn {
  from {
    opacity: 0;
    transform: translate3d(100px, -50%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, -50%, 0);
  }
}

@keyframes LeftIn {
  from {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.banner_wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-top: var(--header-height);
  background: linear-gradient(120.92deg, #003063 0%, #0A2540 49.29%);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    z-index: 0;
    opacity: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    transform: translate3d(100px, 0, 0);
    background-image: url(/images/banner-bg.jpg);
    animation: RightIn $ani-delay $ani-func .5s forwards;
  }
}

.banner_container {
  $fullHeight: calc(100vh - var(--header-height));

  position: relative;
  z-index: 1;
  min-height: 760px;
  height: $fullHeight;

  @include respond-down('lg') {
    height: auto;
    min-height: auto;
    padding: 70px 0;
  }

  @include respond-down('md') {
    padding: 0;
    min-height: auto;
    height: $fullHeight;
  }
}

.banner_content {
  height: 100%;
  margin: auto;
  width: var(--content-width);
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;

  @include respond-down('xl') {
    width: 100%;
    padding: 0 0 0 36px;
  }

  @include respond-down('md') {
    width: 100%;
    padding: 0 36px;
  }

  @include respond-down('sm') {
    padding: 0 24px;
  }

  .content_inner {
    display: flex;
    flex-direction: column;
    gap: 68px;
    align-items: flex-start;
    height: $content-height;
    width: $inner-width;
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
    animation: LeftIn $ani-delay $ani-func .5s forwards;
    padding: 16px 0 0 0;

    @include respond-down('xl') {
      width: 50vw;
      height: $content-height *.9;
    }

    @include respond-down('lg-m') {
      height: $content-height *.8;
    }

    @include respond-down('md') {
      width: 100%;
      height: auto;
      padding: 0;
      text-align: center;
      align-items: center;
    }

    @include respond-down('sm') {
      gap: 60px;
    }
  }

  .title {
    font-size: 50px;
    color: #fff;
    font-weight: 700;

    p {
      margin: 0;
      line-height: 1.5;
    }

    .l_text {
      color: var(--link-color);
    }

    @include respond-down('xl') {
      font-size: 40px;
    }

    @include respond-down('lg-m') {
      font-size: 30px;
    }

    @include respond-down('sm') {
      font-size: 24px;
    }
  }

  .sub_title {
    font-size: 24px;
    color: #DEDEDE;
    line-height: 2;

    @include respond-down('xl') {
      font-size: 18px;
    }

    @include respond-down('lg-m') {
      font-size: 16px;
    }

    @include respond-down('sm') {
      font-size: 14px;
    }
  }

  .book_btn {
    @include respond-down('xl') {
      height: 60px;
      font-size: 20px;
    }

    @include respond-down('sm') {
      height: 48px;
      font-size: 16px;
    }
  }
}

.display {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1;
  overflow: hidden;
  width: calc(50vw - 70px);
  opacity: 0;
  transform: translate3d(100px, -50%, 0);
  animation: RightCenterIn $ani-delay $ani-func .5s forwards;
  $diaplay-wdith: 348px;

  @include respond-down('md') {
    display: none;
  }

  .display1,
  .display2 {
    padding: 24px;
    display: inline-block;
    height: $content-height;
    background: #fff;
    border-radius: 40px;
    box-shadow: 0px 24px 20px 4px #00000026;
    box-shadow: 0px 0px 12px 6px #BFCAD5 inset;
    position: relative;
    z-index: 1;

    @include respond-down('xl') {
      height: $content-height * 0.9;
    }

    @include respond-down('lg-m') {
      height: $content-height * 0.8;
    }

    img {
      height: 100%;
      object-fit: contain;
      user-select: none;
    }
  }

  $display2Height: 463px;

  .display2 {
    height: $display2Height;
    border-radius: 0;
    position: absolute;
    right: -6px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;

    @include respond-down('xl') {
      height: $display2Height * .9;
    }

    @include respond-down('lg-m') {
      height: $display2Height * .8;
    }
  }
}