@import '@/styles/variables.scss';

$inner-width: 650px;
$ani-delay: .85s;

@keyframes RightIn {
  from {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes RightCenterIn {
  from {
    opacity: 0;
    transform: translate3d(100px, -50%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, -50%, 0);
  }
}

@keyframes LeftIn {
  from {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.banner_wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: linear-gradient(120.92deg, #003063 0%, #0A2540 49.29%);
  padding-top: var(--header-height);

  &::before {
    content: "";
    z-index: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    opacity: 0;
    transform: translate3d(100px, 0, 0);
    background-image: url(/images/banner-bg.jpg);
    animation: RightIn $ani-delay $ani-func .5s forwards;
  }
}

.banner_container {
  position: relative;
  z-index: 1;
  min-height: 760px;
  height: calc(100vh - var(--header-height));

  @media (max-width: 576px) {
    min-height: auto;
    height: auto;
    padding: 48px 0;
  }
}

.banner_content {
  height: 100%;
  margin: auto;
  width: var(--content-width);
  padding: 0 16px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;

  @media (max-width: 1200px) {
    padding: 0 16px;
    width: 100%;
  }

  .content_inner {
    height: 662px;
    width: $inner-width;
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
    animation: LeftIn $ani-delay $ani-func .5s forwards;

    @media (max-width: 1160px) {
      width: 100%;
      text-align: center;
    }

    @media (max-width: 768px) {
      height: auto;
    }
  }

  .title {
    font-size: 50px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 60px;

    p {
      margin: 0;
      line-height: 1.5;
    }

    .l_text {
      color: var(--link-color);
    }

    @media (max-width: 768px) {
      font-size: 40px;
    }

    @media (max-width: 576px) {
      font-size: 30px;
      margin-bottom: 36px;
    }
  }

  .sub_title {
    font-size: 24px;
    color: #DEDEDE;
    line-height: 2;
    margin-bottom: 100px;

    @media (max-width: 1200px) {
      width: 768px;
      margin: 0 auto 100px auto;
    }

    @media (max-width: 768px) {
      width: 100%;
      font-size: 20px;
      margin-bottom: 40px;
    }

    @media (max-width: 576px) {
      font-size: 18px;
    }
  }
}

.display {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1;
  overflow: hidden;
  width: calc(50vw - 70px);
  opacity: 0;
  transform: translate3d(100px, -50%, 0);
  animation: RightCenterIn $ani-delay $ani-func .5s forwards;

  @media (max-width: 1160px) {
    display: none;
  }

  .display1,
  .display2 {
    padding: 24px;
    height: 662px;
    width: 348px;
    background: #fff;
    border-radius: 40px;
    box-shadow: 0px 24px 20px 4px #00000026;
    box-shadow: 0px 0px 12px 6px #BFCAD5 inset;
    position: relative;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      user-select: none;
    }
  }

  .display2 {
    height: 463px;
    width: 862px;
    border-radius: 0;
    position: absolute;
    right: -6px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
  }
}