@import '@/styles/responsive.scss';

.title {
  text-align: center;
  color: var(--theme-color);
}

.sub_title {
  font-weight: 500;
  font-size: 30px;
  line-height: 2;
  text-align: center;
  margin-bottom: 8px;

  @include respond-down('xl') {
    line-height: 1;
    font-size: 24px;
    margin-bottom: 12px;
  }

  @include respond-down('sm') {
    font-size: 16px;
  }
}

.desc {
  color: #4B4B4B;
  text-align: center;
}

.items {
  display: flex;
  gap: 60px;

  @include respond-down('lg') {
    gap: 20px;
  }

  @include respond-down('md') {
    gap: 16px;
    flex-direction: column;
  }

  .item {
    flex: 1;
  }
}