@import '@/styles/responsive.scss';

.container {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - var(--header-height));
}

.banner_content {
  text-align: center;

  .title {
    color: #fff;
    margin-bottom: 12px;
  }

  .sub_title {
    font-size: 30px;
    line-height: 2;
    color: var(--link-color);
    margin-bottom: 24px;

    @include respond-down('xl') {
      font-size: 18px;
    }

    @include respond-down('lg-m') {
      font-size: 16px;
    }
  }

  .desc {
    color: #DEDEDE;
  }
}

.btns {
  gap: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include respond-down('md') {
    gap: 36px;
  }

  @include respond-down('sm') {
    gap: 20px;
  }

  .btn {
    @include respond-down('xl') {
      height: 56px;
      font-size: 18px;
    }

    @include respond-down('sm') {
      flex: 1;
      gap: 20px;
      height: 48px;
      font-size: 16px;
      padding: 0 16px;
    }
  }
}