.banner_container {
  padding: 120px 0;
}

.banner_content {
  text-align: center;
}

.title {
  font-size: 52px;
  color: #fff;
  font-weight: 600;
  line-height: 80px;
  margin-bottom: 12px;
}

.sub_title {
  font-size: 30px;
  line-height: 2;
  color: var(--link-color);
  margin-bottom: 24px;
}

.desc {
  color: #DEDEDE;
  line-height: 2;
  font-size: 24px;
  padding: 0 40px;
}

.footer {
  margin-top: 60px;
}