.footer {
  display: block;
  background: var(--theme-color);
  padding: 100px 0;
}

.footer_content {
  margin: auto;
  width: var(--content-width);
}

.content_top {
  display: flex;
  justify-content: space-between;
}

.center_line {
  margin: 40px 0;
  height: 1px;
  background: #193653;
}

.footer_content_left {
  width: 394px;

  .logo {
    margin-bottom: 24px;
  }

  .title,
  .desc_text {
    line-height: 1.6;
    font-size: 20px;
    color: #BEBEBE;
    font-weight: 400;
  }

  .desc_text {
    font-size: 14px;
    margin-top: 40px;
  }
}

.footer_content_right {
  width: 600px;
  display: flex;
  justify-content: space-between;
}

.menu_list {
  .menu_title {
    color: #fff;
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 600;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;

      a {
        font-size: 20px;
        color: var(--link-color);
        font-weight: 400;
        line-height: 2;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.content_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .cc {
    font-size: 16px;
    color: #bebebe;
    line-height: 1.6;
  }

  .others {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      font-size: 16px;
      color: var(--link-color);
      font-weight: 400;
      line-height: 1.6;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}