.footer {
  display: block;
  background: var(--theme-color);
  padding: 100px 0;

  @media (max-width: 576px) {
    padding: 48px 0;
  }
}

.footer_content {
  margin: auto;
  padding: 0 16px;
  width: var(--content-width);

  @media (max-width: 1200px) {
    width: 100%;
  }
}

.content_top {
  display: flex;
  justify-content: space-between;

  @media (max-width: 576px) {
    gap: 24px;
    flex-direction: column;
  }
}

.center_line {
  margin: 40px 0;
  height: 1px;
  background: #193653;

  @media (max-width: 576px) {
    margin: 20px 0;
  }
}

.footer_content_left {
  width: 394px;

  @media (max-width: 576px) {
    width: auto;
  }

  .band {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    gap: 4px;
    margin-bottom: 24px;

    .logo {
      color: #fff;
      font-size: 44px;

      @media (max-width: 576px) {
        font-size: 36px;
      }
    }

    .app_name {
      font-weight: 600;
      color: #fff;
      font-size: 32px;
      margin-left: 4px;

      @media (max-width: 576px) {
        font-size: 20px;
      }
    }
  }

  .title,
  .desc_text {
    line-height: 1.6;
    font-size: 20px;
    color: #BEBEBE;
    font-weight: 400;

    @media (max-width: 576px) {
      font-size: 16px;
    }
  }

  .desc_text {
    font-size: 14px;
    margin-top: 40px;

    @media (max-width: 576px) {
      font-size: 14px;
      margin-top: 24px;
    }
  }
}

.footer_content_right {
  width: 600px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 576px) {
    width: auto;
  }
}

.menu_list {
  .menu_title {
    color: #fff;
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 600;

    @media (max-width: 576px) {
      font-size: 16px;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;

      a {
        font-size: 20px;
        color: var(--link-color);
        font-weight: 400;
        line-height: 2;
        text-decoration: none;

        @media (max-width: 576px) {
          font-size: 14px;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.content_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 576px) {
    gap: 24px;
    flex-direction: column-reverse;
  }

  .cc {
    font-size: 16px;
    color: #bebebe;
    line-height: 1.6;
  }

  .others {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      font-size: 16px;
      color: var(--link-color);
      font-weight: 400;
      line-height: 1.6;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}