@import '@/styles/responsive.scss';

.content {
  width: var(--content-width);
  margin: auto;

  @include respond-down('xl') {
    width: 100%;
    padding: 0 36px;
  }

  @include respond-down('sm') {
    padding: 0 16px;
  }
}