@import './responsive.scss';

.block-container {
  padding: 100px 0;

  @include respond-down('lg') {
    padding: 70px 0;
  }

  @include respond-down('sm') {
    padding: 48px 0;
  }
}

h1.title {
  padding: 0;
  margin: 0 0 80px 0;
  line-height: 1.5;
  font-size: 50px;
  font-weight: 600;

  @include respond-down('xl') {
    font-size: 40px;
  }

  @include respond-down('md') {
    margin: 0 0 48px 0;
  }

  @include respond-down('lg-m') {
    font-size: 30px;
  }

  @include respond-down('sm') {
    font-size: 24px;
  }

  &:has(+ h1.title) {
    margin: 0;
  }

  &:has(+ h2.title) {
    margin: 0 0 40px 0;
  }
}

h2.title {
  margin: 0;
  font-size: 24px;
  line-height: 2;
  font-weight: normal;
  margin-bottom: 80px;

  @include respond-down('xl') {
    font-size: 18px;
    margin-bottom: 60px;
    line-height: 1.5;
  }

  @include respond-down('lg-m') {
    font-size: 16px;
    margin-bottom: 40px;
  }
}