@import './variables.scss';

* {
  box-sizing: border-box;
  font-family: "IBM Plex Sans";
}

body {
  padding: 0;
  margin: 0;
  background: var(--theme-color);

  img {
    user-select: none;
  }

  span.anticon {
    line-height: 0;
  }
}